[submodule "laboratory/lab1"]
	path = laboratory/lab1
	url = https://github.com/csian98/DSCI-560-lab1.git
[submodule "laboratory/lab2"]
	path = laboratory/lab2
	url = https://github.com/csian98/DSCI-560-lab2.git
[submodule "laboratory/lab3"]
	path = laboratory/lab3
	url = https://github.com/csian98/DSCI-560-lab3.git
[submodule "laboratory/lab3/mp-cuda-performance-analyze"]
	path = laboratory/lab3/mp-cuda-performance-analyze
	url = https://github.com/csian98/mp-cuda-performance-analyze.git
[submodule "laboratory/lab1/dynamic-web-scrapper"]
	path = laboratory/lab1/dynamic-web-scrapper
	url = https://github.com/csian98/dynamic-web-scrapper.git
[submodule "laboratory/lab2/image-pdf-html-text-extraction"]
	path = laboratory/lab2/image-pdf-html-text-extraction
	url = https://github.com/csian98/image-pdf-html-text-extraction.git
[submodule "laboratory/laboratory/lab4/mock-trading-environment"]
	path = laboratory/laboratory/lab4/mock-trading-environment
	url = https://github.com/csian98/mock-trading-environment.git
[submodule "laboratory/lab4/mock-trading-environment"]
	path = laboratory/lab4/mock-trading-environment
	url = https://github.com/csian98/mock-trading-environment.git
